/* body {
    font-family: 'HelveticaNeue-Light';
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.3em;

}

input {
    font-size: 1.5em;
}

.container{
    width: 960px;
    margin: auto;
    margin-top: 50px;

}

ul {
    padding-left: 20px;
}

.delete-chocolate-link {
    color: pink;
} */

#title-pic{
    border: 5px solid black;
    height:20em;
    width:35em;
}